@{
    ViewData["Title"] = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Yetki Hatası</h2>
            <ul>
                <li><a href="/">Ana Sayfa</a></li>
                <li class="active">Erişim Reddedildi</li>
            </ul>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Error Wrapper Start -->
<div class="error-content_wrapper">
    <div class="error-area">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-8 text-center">
                    <div class="error">
                        <h1>403</h1>
                        <h2>ERİŞİM REDDEDİLDİ</h2>
                        <p>
                            Bu sayfaya erişim yetkiniz bulunmamaktadır. Eğer bunun bir hata olduğunu düşünüyorsanız,
                            sistem yöneticisiyle iletişime geçebilirsiniz.
                        </p>

                        <a href="/" class="btn">Ana Sayfaya Dön</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Error Wrapper End -->
